body {
	font-size: 24px;
	font-family: "Helvetica Neue" "arial";
}

.board {
	display: flex;
	align-items: center;
}

.board-cell {
	width: 40px;
	height: 40px;
	border: 1px solid gray;
	text-align: center;
	padding: 4px;
}

.board-cell-open {
	cursor: pointer;
}

.board-cell-content {
	width: 100%;
	height: 100%;
}

.board-cell-content-no-acc {
	background-color: lightgrey;
}

.board-cell-content-white {
	background-color: green;
}

.board-cell-content-black {
	background-color: red;
}

.board-layer {
	display: inline;
	margin-right: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.pylos {
	padding: 10px;
}

.pylos-board {
	padding: 10px;
	background-color: lightgrey;
	float: left;
	pointer-events: none;
}

.pylos-layer {
	position: relative;
}

.pylos-layer .pylos-layer {
	position: absolute;
	top: 50px;
	left: 50px;
}

.pylos-row {
	display: flex;
}

.pylos-cell {
	position: relative;
	width: 100px;
	height: 100px;
	border: 0px solid gray;
}

.pylos-cell-open svg circle {
	pointer-events: all;
	cursor: pointer;
}

.pylos-cell svg circle {
	stroke: gray;
	stroke-width: 1;
	fill: transparent;
}

.pylos-cell-black svg circle {
	stroke: white;
	fill: black;
	stroke-width: 2;
}

.pylos-cell-white svg circle {
	stroke: black;
	fill: white;
	stroke-width: 2;
}

.pylos-cell svg circle:hover {
	stroke-width: 3;
}

.pylos-cell-black svg circle:hover {
	stroke: #222222;
}

.pylos-cell-white svg circle:hover {
	stroke: #DDDDDD;
}

.pylos-cell-no-acc {
	visibility: hidden;
}

.pylos-remaining-balls-color {
	display: flex;
	float: left;
	clear: both;
	line-height: 100px;
}

.pylos-remaining-balls-label {
	width: 100px;
}
.pylos-remaining-balls-color .pylos-cell {
	margin-right: -80px;
}

.pylos-cell-content {
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	top: 0;
}

.pylos-cell-black {
	color: white;
}

.pylos-remaining-balls-white .black {
	opacity: 0.2;
}

.pylos-remaining-balls-black .white {
	opacity: 0.2;
}
